@page
@model ScheduleVaccineRazor.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Schedule Vaccine</h1>
<a asp-page="/Accounts/Resgister" class="btn btn-primary">Resgister</a>
<a asp-page="/Accounts/Login" class="btn btn-primary">Login</a>
