@page
@model ScheduleVaccineRazor.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 500px;">
        <h2 class="text-center mb-3">Welcome to Schedule Vaccine</h2>

        <div class="text-center mb-4">
            <a asp-page="/Accounts/Register" class="btn btn-primary me-2">Register</a>
            <a asp-page="/Accounts/Login" class="btn btn-success">Login</a>
        </div>

      
    </div>
</div>
