@page
@model ScheduleVaccineRazor.Pages.Home.MenuModel
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}
<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-page="/Home/Index">Schedule Vaccine</a>

        <div class="d-flex">
            <a asp-page="/Home/ScheduleIndex" class="btn btn-secondary">Schedule</a>
            <a asp-page="/Home/Profile" class="btn btn-secondary">Profile</a>
            <a asp-page="/Home/ChildrenProfile" class="btn btn-secondary">Your Children</a>
        </div>
    </div>
</nav>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div >
        @errorMessage
    </div>
}