@page
@model ScheduleVaccineRazor.Pages.Home.MenuModel
@{
}
<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" asp-page="/Home/Index">Schedule Vaccine</a>

        <div class="d-flex">
            <a asp-page="/Home/Profile" class="btn btn-secondary">Profile</a>
            <a asp-page="/Home/ChildrenProfile" class="btn btn-secondary">Your Children</a>
        </div>
    </div>
</nav>